@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contact Manager</h1>
    <p class="lead">A simple and efficient way to manage your contacts.</p>
    <a asp-controller="Contacts" asp-action="Index" class="btn btn-primary btn-lg mt-3">Visit Contact Manager</a>
</div>